<a href="https://colab.research.google.com/github/2017130744/class2021spring/blob/main/syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
number = [165, 484, 3556, 354]
for i in number:
    print(i)
    ###for 함수는 반복함수. 리스트에 있는 데이터들을 전부 다 반복하는 것이다.

165
484
3556
354

In [2]:
number = [16984, 12534, 5849, 65416]
for i in range(len(number)):
    print(number[i])
    ###for I in range(len(number))에서 range는 0부터 ()안에 있는 수까지 반복한다는 것이다. 
    ###len(a)는 원소개수 = 4개 이므로 0부터 3까지의 수를 반복한다.

16984
12534
5849
65416

In [3]:
c=  ['영', '어', '음', '성', '학']
for i in c: 
  print(i)

영
어
음
성
학

In [8]:
c=  ['영', '어', '음', '성', '학']
for i in range(len(c)):
    print(c[i])

영
어
음
성
학

In [9]:
a = ['red', 'blue', 'green', 'purple']
b = [0.2, 0.3, 0.1, 0.4]
for a_, b_ in zip(a, b):
  print("{}: {}%".format(a_, b_*100))

red: 20.0%
blue: 30.0%
green: 10.0%
purple: 40.0%

In [ ]:
a = 0
if a==0:
  print(a)
else:
  print(a+1)

0

In [ ]:
for i in range(1,3):
  for j in range(3,5):
    if j>=4:
      print(i*j)

4
8

In [ ]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']