<a href="https://colab.research.google.com/github/2017130744/class2021spring/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 164; print(type(a)) 
###int는 정수데이터

<class 'int'>

In [2]:
a = 241; a = float(a); print(type(a))
###float는 실수데이터

<class 'float'>

In [5]:
a = 34.54; a = int(a); print(type(a)); a
###int함수로 실수를 정수부분만 남길 수 있다.

<class 'int'>

34

In [6]:
a = '49845'; print (type(a)); print(a[1])
###''안에 오는 숫자는 숫자데이터가 아니라 문자데이터이다. str->문자데이터

<class 'str'>
9

In [8]:
a = '54624'; a = list(a); print (type(a)); print(a); print(a[2])
###list함수는 문자열 데이터의 각 음절들을 리스트로 만들어준다.

<class 'list'>
['5', '4', '6', '2', '4']
6

In [10]:
a = ['영어음성학', '513', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2])
###리스트도 리스트의 원소가 될 수 있다.

<class 'list'>
영어음성학
513
[3, '4']

In [14]:
a = {"월요일": "영어음성학", "화요일": "미국산문", "금요일": '공강'}
print(type('월요일'))
print(a["화요일"])
#딕셔너리는 ""를 써도 되고 ''를 써도 된다.

<class 'str'>
미국산문

In [15]:
a=[(1, 2, 3), (3, 8, 0)]
print(type(a))
a

<class 'list'>

[(1, 2, 3), (3, 8, 0)]